@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Merriweather:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem a {
  text-decoration: none;
  color: white;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerListItem:hover {
  cursor: pointer;
}

.headerInfor {
  margin-top: 50px;
}

.headerTitle {
  margin-bottom: 30px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}